env:
  browser: true
  node: true
  es6: true
parserOptions:
  ecmaVersion: 2017
rules:
  arrow-parens: ["error", "as-needed"]
  brace-style: ["error", "1tbs", {allowSingleLine: true}]
  comma-dangle: ["error", "never"]
  comma-style: 2
  comma-spacing: 2
  curly: 2
  func-call-spacing: 2
  indent: [2, 2, {SwitchCase: 1, VariableDeclarator: 2}]
  key-spacing: 2
  max-len: [2, 95, 2]
  no-const-assign: 2
  no-debugger: 2
  no-multi-spaces: 2
  no-shadow: 0
  no-sparse-arrays: 2
  no-undef: 2
  no-underscore-dangle: 0
  no-unused-vars: [2, {args: "none"}]
  quotes: [2, "single"]
  semi: [2, "always"]
  space-before-blocks: 2
  space-before-function-paren: ["error", "never"]
  space-in-parens: 2
  strict: [2, "global"]
globals:
  Stripe: true
